.guess-section{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.guess-container{
    width: 100%;
    max-width: 700px;
    text-align: center;
}



.stats{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-bottom:30px;
}

.stat-box{
    background: #1e1e1e;
    padding:10px 20px;
    border-radius:8px;
    font-weight:bold;
    color: #bb86fc;
    border: 1px solid #bb86fc;
    border-radius: 0.5rem;
}



.guess-image-container{
    width:100%;
    display: flex;
    justify-content: center; 
    margin: 30px 0;
}

#blurredImage{
    display: block;
    max-width:420px;
    width:100%;
    height:auto;
    border-radius:10px;
    filter: blur(8px);
    transition: filter 0.3s ease;
}


.guess-input-container{
    display:flex;
    justify-content:center;
    gap:10px;
    margin-bottom:20px;
}

#guessInput{
    padding:10px;
    border-radius:6px;
    border:1px solid #ccc;
    width:250px;
    font-size:16px;
}

#checkBtn{
    padding:10px 20px;
    border:none;
    border-radius:6px;
    background-color:#bb86fc;
    color:#fff;
    cursor:pointer;
    font-size:16px;
    transition: background 0.2s;
}

#checkBtn:hover{
    background-color:#9965f4;
}



.guess-feedback{
    margin-top:20px;
    font-weight:bold;
    font-size:18px;
}